<!DOCTYPE html>
<html lang="{{ locale }}">
	<head>
		<meta charset="utf-8">
		<title>{% if title %}{{ title }} | {% endif %}{{ site[locale].name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ description }}">

		<!-- Styles -->
		<link rel="stylesheet" href="/assets/css/style.css">
		{%- if css %}
		<link rel="stylesheet" href="/assets/css/{{ css }}.css">
		{%- endif %}

		<!-- FontAwesome -->
		<link rel="stylesheet" href="/assets/css/fontawesome.min.css" media="print" onload="this.media='all'">

		<!-- Favicons -->
		<link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg">
		<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<link rel="manifest" href="/assets/favicons/site.webmanifest">
		<meta name="apple-mobile-web-app-title" content="Roland Szabó Design">

		<!-- OpenGraph -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@rszabodesign">
		<meta name="twitter:creator" content="@rszabodesign">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://rolandszabo.design/{{ locale }}/">
		<meta property="og:title" content="{{ site[locale].title }}">
		<meta property="og:description" content="{{ description }}">
		<meta property="og:image" content="/assets/images/og-image.webp">

		<!-- Ahrefs Analytics -->
		<script src="https://analytics.ahrefs.com/analytics.js" data-key="OW6RmdNyXwTta0y/eQSiCw" async></script>
	</head>
	<body>
		{% include "partials/header.html" %}
		{{ content }}
		{% include "partials/footer.html" %}

		<script>
			function toggleMainMenu() {
				var button = document.getElementById("menu-toggle");
				var menu = document.getElementById("main-menu");

				if (menu.style.display === "block") {
					menu.style.display = "none";
					button.innerHTML = "☰";
				} else {
					menu.style.display = "block";
					button.innerHTML = "✕";
				}
			}
		</script>
	</body>
</html>
