---
permalink: /{{ locale }}/{{ site[locale].slugBlog }}/
layout: layouts/base.html
translation: blog
css: blog
---

<main class="main">
	<header class="section section--top">
		<div class="container">
			<h1 class="mb-0">Blog</h1>
		</div>
	</header>

	<section class="section section--top">
		<div class="container container--thin">
			{% if locale == "en" %}
				{% assign posts = collections.blog-en %}
			{% elsif locale == "hu" %}
				{% assign posts = collections.blog-hu %}
			{% endif %}

			{% for item in posts reversed %}
				<article class="blog-post">
					<a class="blog-post__link" href="/{{ locale }}/blog/{{ item.data.slug }}/">
						<img class="blog-post__image" src="/assets/images/blog/{{ item.data.count }}.webp" alt="{{ item.data.title }}" width="500" height="500">
						<div class="blog-post__content">
							<h2 class="blog-post__title h3">{{ item.data.title }}</h2>
							<span class="blog-post__date">
								<i class="fas fa-calendar"></i>&nbsp; {{ item.data.date | date: "%Y.%m.%d." }}
							</span>
						</div>
					</a>
				</article>
			{% endfor %}
		</div>
	</section>
</main>
