---
permalink: "/{{ locale }}/blog/{{ slug }}/"
layout: layouts/base.html
css: blog-post
---

<main class="main">
	<div class="container">
		<header class="post-header">
			<a class="post-header__link" href="/{{ locale }}/{{ site[locale].slugBlog }}/">Blog</a>
			<h1 class="post-header__title">{{ title }}</h1>
			<span class="post-header__date">
				<i class="fas fa-calendar-days"></i>&nbsp; {{ date | date: "%Y.%m.%d." }}
			</span>
		</header>
	</div>

	<div class="container container--thin">
		<section class="section section--bottom">
			{{ content }}

			<div class="cta">
				<p>{{ cta }}</p>
				<a class="btn btn--primary" href="/{{ locale }}/{{ site[locale].slugHireMe }}/">{{ site[locale].navHireMe }}</a>
			</div>
		</section>
	</div>
</main>
