---
permalink: /{{ locale }}/{{ site[locale].slugPortfolio }}/
layout: layouts/base.html
translation: portfolio
css: portfolio
---

<main class="main">
	<header class="section section--top">
		<div class="container">
			<h1>{{ hero.title }}</h1>
			<p class="h3">{{ hero.tagline }}</p>
			<p>{{ hero.text_1 }}</p>
			<p>{{ hero.text_2 }}</p>
			<a class="btn btn--primary mt-2" href="#start">{{ hero.button }}</a>
		</div>
	</header>

	<div class="container" id="start">
		{% for item in items %}
			<article class="portfolio">
				<h2 class="portfolio__title">{{ item.title }}</h2>
				<p class="h3">{{ item.tagline }}</p>
				<p></p>
				<div class="portfolio__gallery">
					<img class="portfolio__image portfolio__image--featured" src="/assets/images/portfolio/{{ item.image_slug }}-1.webp" alt="{{ item.title }}" width="{{ item.image_width }}" height="{{ item.image_height }}" loading="lazy">
					<img class="portfolio__image" src="/assets/images/portfolio/{{ item.image_slug }}-2.webp" alt="{{ item.title }}" width="{{ item.image_width }}" height="{{ item.image_height }}" loading="lazy">
					<img class="portfolio__image" src="/assets/images/portfolio/{{ item.image_slug }}-3.webp" alt="{{ item.title }}" width="{{ item.image_width }}" height="{{ item.image_height }}" loading="lazy">
				</div>
				<p><strong class="text-light">{{ challenge }}:</strong> {{ item.challenge }}</p>
				<p class="mb-0"><strong class="text-light">{{ solution }}:</strong> {{ item.solution }}</p>
			</article>
		{% endfor %}
	</div>

	<section class="section cta">
		<div class="container">
			<h2 class="section__title">{{ cta.title }}</h2>
			<p>{{ cta.text }}</p>
			<div class="button-with-text">
				<a class="btn btn--primary mt-2" href="/{{ locale }}/{{ site[locale].slugHireMe }}/">{{ cta.button }}</a>
			</div>
		</div>
	</section>

	{% include "partials/lightbox.html" %}
</main>
