---
permalink: /{{ locale }}/{{ site[locale].slugServices }}/
layout: layouts/base.html
translation: services
css: services
---

<main class="main">
	<header class="section section--top">
		<div class="container">
			<h1>{{ hero.title }}</h1>
			<p class="h3">{{ hero.tagline }} <i class="fas fa-check text-success"></i></p>
			<p>{{ hero.text_1 }}</p>
			<p>{{ hero.text_2 }}</p>

			<ul class="services services--main">
				{% for item in services.items %}
					<li class="service">
						<div class="service__icons">
							{% for icon in item.icons %}
								<i class="service__icon fas {{ icon }}"></i>
							{% endfor %}
						</div>
						<header class="service__header">
							<h3 class="service__title">{{ item.title }}</h3>
							<p class="service__text">{{ item.result }}</p>
							<p class="service__price h1">{{ item.price }}</p>
						</header>
						<p><strong>{{ services.contains }}:</strong></p>
						<ul class="list">
							{% for listItem in item.contains %}
								<li>
									<i class="fas fa-check-circle text-success icon-left"></i>
									{{ listItem }}
								</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
			</ul>
			<div class="text-center mt-3 mb-3">
				<a class="btn btn--primary" href="#extra">{{ services.button }}</a>
			</div>

			{% for item in testimonials.items | limit: 1 %}
				{% if forloop.index == 1 %}
					<blockquote class="testimonial testimonial--alt">
						<header class="testimonial__header">
							<img class="testimonial__image" src="/assets/images/testimonial-{{ item.slug }}.webp" alt="{{ item[locale].name }}" width="100" height="100">
							<div class="testimonial__author">
								<cite class="testimonial__name">{{ item[locale].name }}</cite>
								<span class="testimonial__job">{{ item[locale].job }}</span>
								<a class="testimonial__link" href="{{ item.website_url }}" target="_blank" rel="noreferrer noopener">{{ item.website_name }}</a>
							</div>
						</header>
						<p class="testimonial__text">{{ item[locale].text }}</p>
					</blockquote>
				{% endif %}
			{% endfor %}
		</div>
	</header>

	<section class="section bg-dark" id="extra">
		<div class="container">
			<h2 class="section__title">{{ extras.title }}</h2>
			<p>{{ extras.text }}</p>
			<ul class="services services--extras">
				{% for item in extras.items %}
					<li class="service service--extra">
						<h3 class="service__title mt-0">
							<i class="fas {{ item.icon }} text-yellow icon-left"></i> {{ item.title }}
						</h3>
						<p class="service__text">{{ item.text }}</p>
						<p class="mb-0"><strong>{{ extras.recommended_for }}:</strong> <em>{{ item.recommended }}</em></p>
					</li>
				{% endfor %}
			</ul>
			<div class="button-with-text">
				<a class="btn btn--primary mt-2" href="/{{ locale }}/{{ site[locale].slugHireMe }}/">{{ extras.button }}</a>
				<span class="button-with-text__text">{{ extras.button_subtext }}</span>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<h2 class="section__title">{{ base.title }}</h2>
			<p>{{ base.text }}</p>
			<article class="step">
				<h3 class="step__title">
					<span class="step__number">1.</span>
					{{ base.before.title }}
				</h3>
				<div class="step__content">
					<p class="step__text">{{ base.before.text }}</p>
					<ul>
						{% for item in base.before.items %}
							<li><i class="fas fa-check-circle text-success icon-left"></i> {{ item }}</li>
						{% endfor %}
					</ul>
				</div>
			</article>
			<article class="step">
				<h3 class="step__title">
					<span class="step__number">2.</span>
					{{ base.during.title }}
				</h3>
				<div class="step__content">
					<p class="step__text">{{ base.during.text }}</p>
					<ul>
						{% for item in base.during.items %}
							<li><i class="fas fa-check-circle text-success icon-left"></i> {{ item }}</li>
						{% endfor %}
					</ul>
				</div>
			</article>
			<article class="step">
				<h3 class="step__title">
					<span class="step__number">3.</span>
					{{ base.after.title }}
				</h3>
				<div class="step__content">
					<p class="step__text">{{ base.after.text }}</p>
					<ul>
						{% for item in base.after.items %}
							<li><i class="fas fa-check-circle text-success icon-left"></i> {{ item }}</li>
						{% endfor %}
					</ul>
				</div>
			</article>
		</div>

	<section class="section cta">
		<div class="container">
			<h2 class="section__title">{{ cta.title }}</h2>
			<p>{{ cta.text }}</p>
			<div class="button-with-text">
				<a class="btn btn--primary mt-2" href="/{{ locale }}/{{ site[locale].slugHireMe }}/">{{ cta.button }}</a>
				<span class="button-with-text__text">{{ cta.button_subtext }}</span>
			</div>
		</div>
	</section>
</main>
