.timeline {
	display: grid;
	grid-gap: 2rem;
	margin: 0;
	border-left: .5rem solid var(--bg-light);
}

.milestone {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0 2rem;
	align-items: start;
}

.milestone__year {
	grid-row: 1 / 3;
	display: inline-block;
	width: 8rem;
	margin-left: -.5rem;
	padding: 1rem 1.5rem 1rem 1rem;
	font-weight: 700;
	font-size: 2rem;
	color: var(--bg-dark);
	text-align: center;
	letter-spacing: -1px;
	line-height: 1;
	border-radius: 0 4rem 4rem 0;
	border-left: .5rem solid var(--text-light);
	background-color: var(--yellow);
}

.milestone__title {
	margin-bottom: 0;
	font-weight: 700;
	color: var(--text-light);
}

@media only screen and (max-width: 767.98px) {
	.milestone__title {
		margin-top: .5rem;
	}
}

@media only screen and (min-width: 768px) {
	.milestone__title {
		margin-top: .25rem;
	}
}

.milestone__text {
	margin-bottom: 0;
}

@media only screen and (max-width: 767.98px) {
	.milestone__text {
		grid-column: 1 / -1;
		margin-top: 1rem;
		margin-left: 1.5rem;
	}
}
