.blog-post {
	margin-bottom: 1.5rem;
	background-color: var(--bg-dark);
}

@media only screen and (max-width: 479.98px) {
	.blog-post {
		padding: 1rem;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767.98px) {
	.blog-post {
		padding: 1.5rem;
	}
}

@media only screen and (min-width: 768px) {
	.blog-post {
		padding: 2rem;
	}
}

.blog-post__link {
	display: grid;
	grid-gap: 2rem;
	border-bottom: 0;
}

@media only screen and (min-width: 480px) and (max-width: 767.98px) {
	.blog-post__link {
		grid-template-columns: 15rem 1fr;
	}
}

@media only screen and (min-width: 768px) {
	.blog-post__link {
		grid-template-columns: 20rem 1fr;
	}
}

.blog-post__link:hover .blog-post__image,
.blog-post__link:focus .blog-post__image {
	opacity: .8;
}

.blog-post__image {
	transition: opacity var(--transition-duration);
}

@media only screen and (max-width: 479.98px) {
	.blog-post__image {
		object-fit: cover;
		height: 40vw;
	}
}

.blog-post__title {
	margin-top: 0;
}

.blog-post__date {
	color: var(--text-dark);
}
