/*
	Roland Szabó Design v3
	https://rolandszabo.design
*/



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }



/* Variables */

:root {
	--yellow: #ffaf40;
	--pink: #ff4d79;
	--danger: #ff4d4d;
	--success: #82e550;

	--text: #a1a7b3;
	--text-dark: #6c7380;
	--text-light: #dadee5;

	--bg: #1f2533;
	--bg-dark: #151b26;
	--bg-light: #262f40;

	--rhombus: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	--parallelogram: polygon(2rem 0, 100% 0, calc(100% - 2rem) 100%, 0 100%);
	--parallelogram-after: polygon(2.5rem .5rem, calc(100% - .7rem) .5rem, calc(100% - 2.5rem) calc(100% - .5rem), .7rem calc(100% - .5rem));

	--gradient: -webkit-linear-gradient(left, var(--yellow), var(--pink));
	--transition-duration: .25s;
}



/* Webfonts */

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	font-style: normal;
	font-weight: 200;
	src: url('../webfonts/nunito-200.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
	src: url('../webfonts/nunito-700.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: url('../webfonts/nunito-800.woff2') format('woff2');
}



/* Base */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

@media (prefers-reduced-motion: reduce) {
	html { scroll-behavior: initial; }
}

::selection {
	color: var(--bg);
	background-color: var(--yellow);
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: "Nunito", sans-serif;
	font-weight: 200;
	color: var(--text);
	letter-spacing: -0.25px;
	line-height: 1.75;
	background-color: var(--bg);
}

@media only screen and (max-width: 575.98px) {
	body {
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 576px) {
	body {
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 2rem;
	}
}

body:before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 10rem;
	background: linear-gradient(to bottom, var(--bg-dark) 0%, var(--bg) 100%);
}

img {
	max-width: 100%;
	height: auto;
}

.main {
	flex-grow: 1;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.container {
	max-width: 120rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.container--thin {
	max-width: 90rem;
}

@media only screen and (max-width: 767.98px) {
	.section,
	.section.cta {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

@media only screen and (min-width: 768px) {
	.section,
	.section.cta {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

.section--top {
	padding-top: 0;
}

.section--bottom {
	padding-bottom: 0;
}

.section__title {
	margin-top: 0;
}

@media only screen and (max-width: 767.98px) {
	.section__title {
		margin-bottom: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.section__title {
		margin-bottom: 3rem;
	}
}

.cta {
	margin-top: 4rem;
	padding: 2rem;
	text-align: center;
	background-color: var(--bg-dark);
}



/* Typography */

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	color: var(--text-light);
}

h1, .h1 {
	letter-spacing: -1px;
	line-height: 1.4;
}

@media only screen and (max-width: 575.98px) {
	h1, .h1 {
		margin-bottom: 3rem;
		font-size: 3rem;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	h1, .h1 {
		margin-bottom: 4rem;
		font-size: 4rem;
	}
}

@media only screen and (min-width: 768px) {
	h1, .h1 {
		margin-bottom: 5rem;
		font-size: 5rem;
	}
}

h2, .h2 {
	margin-bottom: 2rem;
	line-height: 1.4;
}

@media only screen and (max-width: 575.98px) {
	h2, .h2 {
		margin-top: 2.5rem;
		font-size: 2.5rem;
		letter-spacing: -.75px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	h2, .h2 {
		margin-top: 3rem;
		font-size: 3rem;
		letter-spacing: -1px;
	}
}

@media only screen and (min-width: 768px) {
	h2, .h2 {
		margin-top: 4rem;
		font-size: 4rem;
		letter-spacing: -1.25px;
	}
}

h3, .h3 {
	margin-bottom: 1.5rem;
	font-weight: 700;
	line-height: 1.4;
}

@media only screen and (max-width: 575.98px) {
	h3, .h3 {
		margin-top: 1.5rem;
		font-size: 2rem;
		letter-spacing: -.5px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	h3, .h3 {
		margin-top: 2rem;
		font-size: 2.5rem;
		letter-spacing: -.75px;
	}
}

@media only screen and (min-width: 768px) {
	h3, .h3 {
		margin-top: 2.5rem;
		font-size: 3rem;
		letter-spacing: -1px;
	}
}

h4, .h4 {
	margin-bottom: 1rem;
	font-weight: 700;
	letter-spacing: -.375px;
	line-height: 1.4;
}

@media only screen and (max-width: 575.98px) {
	h4, .h4 {
		margin-top: 1rem;
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	h4, .h4 {
		margin-top: 1.5rem;
		font-size: 2.25rem;
	}
}

@media only screen and (min-width: 768px) {
	h4, .h4 {
		margin-top: 2rem;
		font-size: 2.5rem;
	}
}

.tagline {
	margin-bottom: 3rem;
}

p,
ul,
ol {
	margin-bottom: 2rem;
}

li {
	margin-bottom: 1rem;
}

a {
	color: var(--yellow);
	text-decoration: none;
	border-bottom: 1px dashed var(--text-dark);
	transition: var(--transition-duration) color;
}

a:hover,
a:focus {
	color: #FFF;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

small,
.text-smaller {
	font-size: 82.5%;
}

.text-center { text-align: center; }
.text-pink { color: var(--pink); }
.text-yellow { color: var(--yellow); }
.text-danger { color: var(--danger); }
.text-success { color: var(--success); }
.text-light { color: var(--text-light); }
.text-dark { color: var(--text-dark); }

.bg-dark { background-color: var(--bg-dark); }

.icon-left {
	margin-right: 1rem;
}



/* Buttons */

.btns {
	margin: -.5rem;
}

.btns > .btn {
	margin: .5rem;
}

.btn {
	position: relative;
	display: inline-block;
	padding: 1.25rem 4.25rem;
	font-weight: 800;
	color: #FFF;
	letter-spacing: -.5px;
	text-transform: uppercase;
	border: 0;
	background-color: var(--bg-light);
	clip-path: var(--parallelogram);
}

.btn:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: var(--bg-dark);
	clip-path: var(--parallelogram-after);
	transition: var(--transition-duration) color, var(--transition-duration) transform;
	transform: scale(0, 0);
}

.btn:hover:after,
.btn:focus:after {
	transform: scale(1, 1);
}

.btn--primary {
	color: var(--bg);
	background: var(--gradient);
}

.button-with-text {
	display: grid;
	justify-items: center;
	justify-content: center;
}

.button-with-text__text {
	margin-top: 1rem;
	font-size: 1.6rem;
	color: var(--text-dark);
}



/* Tables */

.table {
	overflow-x: auto;
	background-color: var(--bg);
}

table {
	width: 100%;
}

@media only screen and (min-width: 576px) {
	table {
		font-size: 1.8rem;
	}
}

th, td {
	line-height: 1.4;
	text-align: left;
}

@media only screen and (max-width: 767.98px) {
	th, td {
		padding: .5rem;
	}
}

@media only screen and (min-width: 768px) {
	th, td {
		padding: 1.5rem;
	}
}

thead th {
	color: var(--text-light);
	border-bottom: .5rem solid var(--bg-dark);
}

tbody th {
	color: var(--text-light);
	border-right: .5rem solid var(--bg-dark);
}



/* Testimonial, Quote */

.testimonials {
	display: grid;
	grid-gap: 2rem;
}

@media only screen and (min-width: 768px) {
	.testimonials {
		grid-template-columns: repeat(2, 1fr);
	}
}

.testimonial {
	font-size: 1.6rem;
	border-left: 1rem solid var(--bg-light);
	background-color: var(--bg-dark);
}

@media only screen and (max-width: 767.98px) {
	.testimonial {
		padding: 2rem;
	}
}

@media only screen and (min-width: 768px) {
	.testimonial {
		padding: 3rem;
	}
}

.testimonial--alt {
	border-left: .5rem solid var(--yellow);
	background-color: var(--bg);
}

.testimonial__header {
	display: grid;
	grid-template-columns: 8rem 1fr;
	grid-gap: 2rem;
	align-items: center;
	margin-bottom: 2rem;
}

.testimonial__image {
	clip-path: var(--rhombus);
	background-color: var(--bg-light);
}

.testimonial__author {
	color: var(--text-dark);
	grid-column: 2;
}

.testimonial__name {
	font-weight: 700;
	color: var(--text-light);
}

.testimonial__job {
	display: block;
}

.testimonial__text {
	margin-bottom: 0;
}

.testimonial__text:before { content: "“"; }
.testimonial__text:after  { content: "”"; }

.testimonial__footer {
	margin-top: 1rem;
}



/* Checklist */

.checklist__item {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0 2rem;
}

.checklist__icon {
	grid-row: 1 / 3;
	grid-column: 1;
	margin-top: .625rem;
}

.checklist__title {
	grid-row: 1;
	grid-column: 2;
	margin-top: 0;
}

.checklist__text {
	grid-row: 2;
	grid-column: 2;
}



/* Header */

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: .5rem;
	background: var(--gradient);
}

.header__container {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-gap: 1rem;
	padding-top: 2rem;
}

@media only screen and (max-width: 991.98px) {
	.header__container {
		grid-template-columns: 1fr auto;
	}
}

@media only screen and (min-width: 992px) {
	.header__container {
		grid-template-columns: auto 1fr;
		margin-top: 1rem;
	}
}

.logo {
	display: flex;
	align-items: center;
	font-weight: 700;
	color: var(--text-light);
	line-height: 1;
	border: 0;
}

@media only screen and (max-width: 767.98px) {
	.logo {
		margin-left: -1rem;
		padding: 1rem;
	}
}

@media only screen and (min-width: 768px) {
	.logo {
		margin-left: -2rem;
		padding: 2rem;
	}
}

.logo__rsd {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 7rem;
	height: 3rem;
	margin-right: 1rem;
	font-weight: 800;
	font-size: 2rem;
	letter-spacing: -1.4px;
	color: var(--bg);
	background: var(--text);
	clip-path: var(--parallelogram);
}

.menu-toggle {
	grid-row: 1;
	grid-column: 2;
	cursor: pointer;
	width: 4.7rem;
	margin-left: auto;
	padding: .5rem 1rem;
	font-size: 2rem;
	color: var(--text);
	text-align: center;
	border: 1px solid var(--text-dark);
	border-radius: 99rem;
	transition: var(--transition-duration) color, var(--transition-duration) border-color, var(--transition-duration) background-color;
}

@media only screen and (min-width: 992px) {
	.menu-toggle {
		display: none;
	}
}

.menu-toggle:hover,
.menu-toggle:focus {
	color: var(--text-light);
	background-color: var(--bg);
}

.menu {
	font-size: 1.8rem;
}

@media only screen and (max-width: 991.98px) {
	.menu {
		display: none;
		grid-column: 1 / -1;
	}
}

@media only screen and (min-width: 992px) {
	.menu {
		display: flex !important; /* In case you hide it on mobile */
		margin-left: auto;
	}
}

@media only screen and (max-width: 575.98px) {
	.nav {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 1rem;
	}
}

@media only screen and (min-width: 576px) and (max-width: 991.98px) {
	.nav {
		padding: 1rem 2rem 0;
	}
}

@media only screen and (max-width: 991.98px) {
	.nav {
		background-color: var(--bg-dark);
	}

	.nav--lang {
		margin-top: 1rem;
	}
}

@media only screen and (min-width: 992px) {
	.nav--lang {
		margin-left: 1rem;
		padding-left: 1.5rem;
		border-left: 1px solid var(--bg-light);
	}
}

.nav__title {
	margin-top: .5rem;
	margin-bottom: 0;
	font-size: 2rem;
}

@media only screen and (min-width: 992px) {
	.nav__title {
		display: none;
	}
}

.nav__list {
	margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
	.nav__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}

@media only screen and (min-width: 576px) and (max-width: 991.98px) {
	.nav__list {
		margin-left: -1.5rem;
	}
}

.nav__item {
	margin-bottom: 0;
}

.nav__link {
	display: block;
	color: var(--text);
	line-height: 1;
	border: 0;
}

@media only screen and (max-width: 575.98px) {
	.nav__link {
		padding: 1rem;
	}
}

@media only screen and (min-width: 576px) {
	.nav__link {
		padding: 2rem 1.5rem;
	}
}

@media only screen and (min-width: 992px) {
	.nav__link--lang {
		padding: 2rem 1rem;
		text-transform: uppercase;
	}
}

.nav__link:hover,
.nav__link:focus {
	color: var(--text-light);
}

.nav__link--active {
	font-weight: 800;
	color: var(--text-light);
}

@media only screen and (max-width: 991.98px) {
	.lang-label--mobile {
		display: none;
	}
}

@media only screen and (min-width: 992px) {
	.lang-label--desktop {
		display: none;
	}
}



/* Footer */

.footer {
	padding: 2rem;
	color: var(--text-dark);
	text-align: center;
}

.footer__link {
	color: var(--text-dark);
}

.footer__link:hover,
.footer__link:focus {
	color: var(--yellow);
}

.copyright {
	margin-bottom: 1rem;
	font-weight: 700;
	letter-spacing: -.5px;
}

.smallprint {
	font-size: 87.5%;
}



/* Utility  Classes */

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }

.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
