<footer class="footer">
	<div class="container footer__container">
		<p class="copyright">&copy; 2025 &ndash; Roland Szabó Design, {{ site[locale].copyright }}</p>
		<p class="smallprint">{{ site[locale].footerText }} {{ site[locale].footerSsg }} <a class="footer__link" href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">Eleventy</a>, {{ site[locale].footerCdn }} <a class="footer__link" href="https://www.netlify.com/" target="_blank" rel="noopener noreferrer">Netlify</a>.</p>
	</div>
</footer>
